<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bookstore Application</title>
</head>
<h1>Book</h1>
<body>
<a href = "/">Home</a>
<br>
<p th:text=" 'Author: ' + ${book.getAuthor()}"></p>
<p th:text=" 'Title: ' + ${book.getTitle()}"></p>
<p th:text=" 'Historical Price: ' + ${book.getHistoricalPrice()}"></p>
<p>Rarity: </p>
    <th:block th:switch="${book.getRarity()}">
        <div th:case="1">very rare</div>
        <div th:case="2">slightly rare</div>
        <div th:case="3">not rare</div>
    </th:block>
<p>Liquidity: </p>
<th:block th:switch="${book.getLiquidity()}">
    <div th:case="1">slightly liquid</div>
    <div th:case="2">quite liquid</div>
    <div th:case="3">very liquid</div>
</th:block>
<br>
<form action="#" th:action="@{/purchase/book/} + ${id}" method="get">
    <div>
        <input type="hidden" name="id" id="id" th:value="${book.getId()}" />
    </div>
    <div>
        <input type="submit" value="Purchase a copy of this book">
    </div>
</form>
</body>
</html>