<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bookstore Application</title>
</head>
<h1>Customer</h1>
<body>
<a href = "/">Main page</a>
<br>
<form action="#" th:action="@{/newcustomer}" method="get">
    <div>
        <input type="submit" value="Add new customer">
    </div>
</form>
<br>
<table style="width:50%; height:300px; font-size: large">
    <tr style="background-color:lightblue">
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <tr th:each="customer : ${customers}" style="background-color:lightgray" align="center">
        <td th:text="${customer.getId()}"></td>
        <td th:text="${customer.getName()}"></td>
        <td th:text="${customer.getEmail()}"></td>
    </tr>
</table>
</body>
</html>