<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bookstore Application</title>
</head>
    <h1>Inventory</h1>
<body>
    <a href = "/">Home</a>
    <br>
    <form action="#" th:action="@{/searchitem}" method="post">
        <label for="author">Author:</label>
        <input type="text" minlength="1" id="author" name="author" required/>
        <input type="submit" value="Search in stock">
    </form>
    <br>
    <table style="width:50%; height:100px; font-size: large">
        <tr style="background-color:lightblue">
            <th>Author</th>
            <th>Title</th>
            <th>Quality</th>
            <th>Cost</th>
            <th>Price</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Sell</th>
        </tr>
        <tr th:each="item : ${items}" style="background-color:lightgray" align="center">
            <td th:text="${item.getBook().getAuthor()}"></td>
            <td th:text="${item.getBook().getTitle()}"></td>
            <td th:text="${item.getQuality().toString().toLowerCase()}"></td>
            <td th:text="${item.getCost()}"></td>
            <td>
                <div th:if="${item.getPrice() > 0}" th:text="${item.getPrice()}"></div>
                <div th:unless="${item.getPrice() > 0}">
                    <div><a th:href="@{'/edititem/{id}'(id=${item.getId()})}" th:text="'Please set the price'" > </a></div>
                </div>
            </td>
            <td>
                <div th:unless="${item.isSold()}">for sale</div>
                <div th:if="${item.isSold()}">sold</div>
            </td>
            <td>
                <div th:if="${item.isSold()}"></div>
                <div th:unless="${item.isSold()}">
                    <a th:href="@{'/edititem/{id}'(id=${item.getId()})} " th:text="Edit" > </a>
                </div>
            </td>
            <td>
                <div th:if="${item.isSold()}">Sold copy</div>
                <div th:unless="${item.isSold()}">
                    <a th:href="@{'/sell/{id}'(id=${item.getId()})}" th:text="'Sell this copy'" > </a>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>