<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bookstore Application</title>
</head>
    <h1>Inventory</h1>
<body>
    <a href = "/inventory/detailed">Detailed inventory</a>
    <br>
    <a href = "/newitem">Add new copy</a>
    <br>
    <table style="width:50%; height:300px; font-size: large">
        <tr style="background-color:lightblue">
            <th>ID</th>
            <th>Author</th>
            <th>Title</th>
            <th>Quality</th>
            <th>Sold</th>
        </tr>
        <tr th:each="item : ${items}" style="background-color:lightgray" align="center">
            <td th:text="${item.getId()}"></td>
            <td th:text="${item.getBook().getAuthor()}"></td>
            <td th:text="${item.getBook().getTitle()}"></td>
            <td th:text="${item.getQuality()}"></td>
            <td th:text="${item.isSold()}"></td>
        </tr>
    </table>
    <br>
    <form action="#" th:action="@{/newbook}" method="get">
        <div>
            <input type="submit" value="New book">
        </div>
    </form>
</body>
</html>