<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookstore #</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1 style="font-size: 60px; color: darkblue">Bookstore</h1>
    <h3 style="font-size: 36px; color: lightseagreen">Purchasing new book:</h3>
    <h4 style="font-size: 30px; color: lightseagreen">Search books by author in previous transactions</h4>
    <form action="#" th:action="@{/purchase/book}" method="post">
        <label for="author">Author:</label>
        <input type="text" minlength="1" id="author" name="author" required/>
        <input type="submit" value="Check author">
    </form>
    <h4 style="font-size: 30px; color: lightseagreen">Or enter data of a new book</h4>
    <form action="#" th:action="@{/newbook}" method="get">
        <input type="submit" value="Add new book">
    </form>

</body>
</html>