<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookstore #</title>
    <meta charset="utf-8" />
</head>
<body>
<h1 style="font-size: 60px; color: darkblue">Bookstore</h1>
<h3 style="font-size: 36px; color: lightseagreen">Purchasing new book:</h3>

<div th:if="${!books.isEmpty()}">
    <table style="width:50%; height:100px; font-size: large">
        <tr style="background-color:lightblue">
            <th>Author</th>
            <th>Title</th>
            <th>Historical price</th>
            <th>Domain</th>
            <th>Purchase</th>
        </tr>
        <tr th:each="book : ${books}" style="background-color:lightgray" align="center">
            <td th:text="${book.getAuthor()}"></td>
            <td th:text="${book.getTitle()}"></td>
            <td th:text="${book.getHistoricalPrice()}"></td>
            <td th:text="${book.getDomain()}"></td>
            <td>
                <a th:href="@{'/purchase/book/{id}'(id=${book.getId()})}" th:text="'Buy a copy'" > </a>
            </td>
        </tr>
    </table>
</div>
<p>

</p>
<div style="font-size: 24px; color: lightseagreen" th:text="${books.isEmpty()} ? 'Books of this author haven\'t been saved yet' : 'You can still add a new book'"></div>

<form action="#" th:action="@{/newbook}" method="get">
    <input type="submit" value="Add new book">
</form>

</body>
</html>