<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bookstore Application</title>
</head>
<h1>Inventory</h1>
<body>
<a href = "/">Main page</a>
<br>
<a href = "/inventory">Back to inventory</a>
<br>
<table style="width:50%; height:100px; font-size: large">
    <tr style="background-color:lightblue">
        <th>Author</th>
        <th>Title</th>
        <th>Quality</th>
        <th>Cost</th>
        <th>Price</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Sell</th>
    </tr>
    <tr th:each="item : ${items}" style="background-color:lightgray" align="center">
        <td th:text="${item.getBook().getAuthor()}"></td>
        <td th:text="${item.getBook().getTitle()}"></td>
        <td>
            <div th:if="${item.getQuality() == 1}">
                <div>poor</div>
            </div>
            <div th:if="${item.getQuality() == 2}">
                <div>fair</div>
            </div>
            <div th:if="${item.getQuality() == 3}">
                <div>good</div>
            </div>
        </td>
        <td th:text="${item.getCost()}"></td>
        <td>
            <div th:if="${item.getPrice() > 0}" th:text="${item.getPrice()}"></div>
            <div th:unless="${item.getPrice() > 0}">
                <div><a th:href="@{'/edititem/{id}'(id=${item.getId()})}" th:text="'Please set the price'" > </a></div>
            </div>
        </td>
        <td>
            <div th:unless="${item.isSold()}">
                <div>for sale</div>
            </div>
            <div th:if="${item.isSold()}">
                <div>sold</div>
            </div>
        </td>
        <td>
            <a th:href="@{'/edititem/{id}'(id=${item.getId()})}" th:text="Edit" > </a>
        </td>
        <td>
            <a th:href="@{'/sell/{id}'(id=${item.getId()})}" th:text="'Sell this copy'" > </a>
        </td>
    </tr>
</table>
</body>
</html>