<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bookstore Application</title>
    <link th:href="@{/styles.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="background">
    <div id="content">
        <nav class="navigation-bar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/inventory">Inventory</a></li>
                <li><a href="/purchase">Purchase</a></li>
                <li><a href = "/customer">Customers</a></li>
                <li><a href = "/reports">Reports</a></li>
                <div class="right_padding">
                    <li><a href="https://github.com/same965/bookstore">GITHUB</a></li>
                </div>
            </ul>
        </nav>
        <h1>Bookstore</h1>
        <h3>Purchasing new book</h3>

        <div th:if="${!books.isEmpty()}">
            <table style="width:90%; height:100px; font-size: medium">
                <tr style="background-color:lightblue">
                    <th>Author</th>
                    <th>Title</th>
                    <th>Historical price</th>
                    <th>Domain</th>
                    <th>Purchase</th>
                </tr>
                <tr th:each="book : ${books}" style="background-color:lightgray" align="center">
                    <td th:text="${book.getAuthor()}"></td>
                    <td th:text="${book.getTitle()}"></td>
                    <td th:text="${book.getHistoricalPrice()}"></td>
                    <td th:text="${book.getDomain()}"></td>
                    <td>
                        <a th:href="@{'/purchase/book/{id}'(id=${book.getId()})}" th:text="'Buy a copy'" > </a>
                    </td>
                </tr>
            </table>
        </div>
        <p>

        </p>
        <div style="font-size: 18px; color: darkblue" th:text="${books.isEmpty()} ? 'Books of this author haven\'t been saved yet' : 'You can still add a new book'"></div>
        <br>
        <form action="#" th:action="@{/newbook}" method="get">
            <input type="submit" value="Add new book">
        </form>
    </div>
</div>
</body>
</html>